// 
// Services
// 

.service-icon {
    background-size:contain;
    color: $primary;
    border-radius: 30%;
    height: 15rem;
    width: 15rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
